{% layout none %}

<head>
  <meta charset="UTF-8" />

  <title>{{ page_title }} {% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}</title> 
  
  <meta name="author" content="BootyBands.com">
  <meta property="og:url" content="https://shop.bootybands.com/">
  <meta property="og:site_name" content="BootyBands.com">
  <meta name="og:type" content="website" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | escape }}" />
  <meta name="og:description" content="{{ page.content | strip_html | strip_newlines | escape }}" />

  <meta name="twitter:card" content="summary">
  <meta name="HandheldFriendly" content="True"> 
  <meta name="MobileOptimized" content="320"> 
  <meta name="viewport" content="width=device-width,initial-scale=1"> 
  <meta name="theme-color" content="#ffffff"> 
  <meta name="p:domain_verify" content="87df26013f8eaa2a04835c7e1e694a99"/> 
  <meta name="google-site-verification" content="C-ShYvTkOXytGGhNo666zgrm_5xN2zrEAhM2hQ4UIig" /> 
  <meta name="google-site-verification" content="wvHlPldLeK37NNbyx8noAr0SYDhlgv6abHApPKBBsn0" /> 
  <link rel="shortcut icon" type="image/x-icon" href="//cdn.shopify.com/s/files/1/0073/7270/1796/files/pink-1000_32x32.png?v=1608729048"> 
  <link rel="canonical" href="https://shop.bootybands.com/" /> 
  
  <script type="text/javascript">    (function(e, s, t) {        t = t || {}, t.id = e, versaTagObj = {        $: [],        onready: function(e) {        this.$.push(e)        }        };        var n = s.getElementsByTagName("script")[0],        r = s.createElement("script");        r.options = t, r.async = !0, r.src = "https://secure-ds.serving-sys.com/SemiCachedScripts/ebOneTag.js?id=" + e, r.options = t, n.parentNode.insertBefore(r, n)    })("1073746527", document, {        dataLayer:"Iron_Pulley_DL"    });</script>

  <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0073/7270/1796/files/pink-logo-100x100-mobile-site.png?height=628&pad_color=fff&v=1610006007&width=1200" />
  <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0073/7270/1796/files/pink-logo-100x100-mobile-site.png?height=628&pad_color=fff&v=1610006007&width=1200" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />

  <!-- for iframe -->
  <base target="_parent">

  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TW2W2PN');
  </script>
  <!-- End Google Tag Manager -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-818923018');
  </script>
  
  <style>
    body {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    #bbb {
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      border: none;

      height: 0;
      max-height: 100vh;
      max-width: 100vw;
      min-height: 100vh;
      min-width: 100vw;
      width: 0;
    }
  </style>
</head>

<iframe id="bbb" src="https://booty-bands-barbells.netlify.app/" />