@font-face {
  font-family: "Acumin Pro";
  src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Regular.eot?v=376017048351439136");
    src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Regular.eot?%23iefix&61611") format("embedded-opentype"),
      url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Regular.woff?v=2120140973033514604") format("woff"),
        url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Regular.tff?61611") format("truetype"),
          url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Regular.svg%23AcuminPro-Regular?61611") format("svg");
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            }

@font-face {
  font-family: "Acumin Pro";
  src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Italic.eot?v=13807753403798210164");
    src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Italic.eot?%23iefix&61611") format("embedded-opentype"),
      url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Italic.woff?v=6023870917890835079") format("woff"),
        url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Italic.tff?61611") format("truetype"),
          url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Italic.svg%23AcuminPro-Italic?61611") format("svg");
            font-weight: normal;
            font-style: italic;
            font-display: swap;
            }

@font-face {
  font-family: "Acumin Pro";
  src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-BoldItalic.eot?v=5605942315387892055");
    src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-BoldItalic.eot?%23iefix&61611") format("embedded-opentype"),
      url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-BoldItalic.woff?v=14432775484541830701") format("woff"),
        url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-BoldItalic.tff?61611") format("truetype"),
          url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-BoldItalic.svg%23AcuminPro-BoldItalic?61611") format("svg");
            font-weight: bold;
            font-style: italic;
            font-display: swap;
            }

@font-face {
  font-family: "Acumin Pro";
  src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Bold.eot?v=1604470105785910389");
    src: url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Bold.eot?%23iefix&61611") format("embedded-opentype"),
      url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Bold.woff?v=6344901309000793965") format("woff"),
        url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Bold.tff?61611") format("truetype"),
          url("//cdn.shopify.com/s/files/1/0073/7270/1796/files/AcuminPro-Bold.svg%23AcuminPro-Bold?61611") format("svg");
            font-weight: bold;
            font-style: normal;
            font-display: swap;
            }


@font-face {
  font-family: 'Arsilon';
  src: url("@/assets/fonts/Arsilon.eot?#iefix") format("embedded-opentype"),
  url("@/assets/fonts/Arsilon.otf") format("opentype"),
  url("@/assets/fonts/Arsilon.woff") format("woff"),
  url("@/assets/fonts/Arsilon.ttf") format("truetype"),
  url("@/assets/fonts/Arsilon.svg#Arsilon") format("svg");
  font-weight: 400;
  font-style: normal
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
