
// mini grid

@mixin make-grid($prefix) {
  &#{$prefix}-half {
    grid-template-columns: 1fr 1fr;
  }

  &#{$prefix}-third {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &#{$prefix}-quarter {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.row {
  display: grid;
  
  @include make-grid('');
  
  @media(min-width: $bp-xs) {
    @include make-grid('-bp-xs-up');
  }

  @media(min-width: $bp-s) {
    @include make-grid('-bp-s-up');
  }

  @media(min-width: $bp-m) {
    @include make-grid('-bp-m-up');
  }

  &.align-center {
    align-items: center;
  }

  &.gap {
    grid-gap: 1.25em;

    @media(min-width: $bp-m) {
      grid-gap: 2.5em;
    }
  }


  &-reverse {
    direction: rtl;

    > * {
      direction: ltr;
    }
  }
}