@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(359deg)
  }
}

.max-width {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
}

.max-width-m {
  max-width: $bp-m;
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
}

.max-width-s {
  max-width: $bp-s;
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
}

.max-width-xs {
  max-width: $bp-xs;
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
}

.max-width-xxs {
  max-width: $bp-xxs;
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
}

.full-width {
  width: 100%;
}

.hide {
  display: none;
}

@media(min-width: $bp-m) {
  .hide-from-desktop {
    display: none;
  }
}

@media(min-width: $bp-s) {
  .hide-from-tablet {
    display: none;
  }
}

@media(max-width: $bp-s - 1) {
  .hide-to-tablet {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

//window stop scroll
.no-scroll {
  overflow: hidden;
}

[v-cloak] { 
  display: none;
}

//overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay;
  z-index: 99999999;
  animation: fadeIn 0.5s;
}

// youtube video
.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.featured-font-family {
  font-family: $featured-font-family;
}

.black {
  color: $black !important;
}

.pink {
  color: $pink !important;
}

.primary-font {
  font-family: $secondary-font;
}