/* Fonts */
$primary-font: "Acumin Pro";
$secondary-font: "Bebas Neue";
$tertiary-font: "Arsilon", Helvetica, sans-serif;
$font-family: $primary-font, Helvetica, sans-serif;
$featured-font-family: $tertiary-font;

/* Color Scheme */
$navy: #575F6B;
$blue: #25346a;
$mid-blue: #0074bc;
$light-blue: #00c2f3;
$red: #e22d48;
$green: #35c907;
$dark-green: #019446;
$pink: #ff3399;
$medium-pink: #ff80b9;
$light-pink: #ffd4e5;
$purple: #9262c1;

// Grayscale
$white: #ffffff;
$off-white: #f8fafa;
$black: #060606;
$gray-light: #f1f1f1;
$gray: #cdcdcd;
$gray-dark: #b5b5b6;
$gray-x-dark: #4a4a4a;
$light-black: #2e2e2e;
$overlay: rgba($black, 0.4);

$primary-color: $pink;
$secondary-color: $black;
$text-color: $black;

/* Box Shadow */
$box-shadow: 0px 2px 7px rgba($black, 0.25);

/* Breakpoints */
// breakpoints should be used with min-width's (mobile-first)
$bp-xxs: 320px;
$bp-xs: 481px;
$bp-s: 768px;
$bp-m: 1025px;
$bp-l: 1201px;
$bp-xl: 1401px;

/* Spacing */
$space-s: 1em;
$space-m: 2em;
$space-l: 3em;
$space-xl: 4em;

//max width
$max-width: 1280px;

//custom for header
$clip-left-alt-polygon: polygon(0% 0%, 100% 0%, calc(100% - 1.5em) 100%, 0% 100%);

//------------------
// IMAGE FILTER COLORS
// https://codepen.io/sosuke/pen/Pjoqqp
//------------------
$white-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(150%);
$black-filter: brightness(0) saturate(100%);
