<template lang="pug">
//- header
.header.row.row-bp-s-up-half.align-center
  .content.max-width.text-center
    h1.no-margin Cut Fat, Keep Curves#[br]Get Tight & Toned
    a.bnpl-callout.hide-to-tablet(:href="barbellSetUrl")
      h4.strikethrough.no-margin.old-price $342.99
      h2.no-margin $327.98
      br
      h2.black Ships Free
      br
      br
      h5.black or 4 interest free payments of $82 with
      .with-price
        vue-image(:source="sezzle" :height="50" :disable-aspect-ratio="true")
        vue-image(:source="afterpay" :height="50" :disable-aspect-ratio="true")
  .header-image-wrapper
    vue-image(
      :source="barbellGirl" 
      :width="775" 
      :height="788" 
      alt="Barbell Header" 
      :disable-aspect-ratio="true"
      background-color="#ff3399"
    )
    .header-image-content
      .hide-to-tablet
        h1.no-margin.pink.primary-font Complete Barbell Set
        h4.pink By BootyBands
        br
        br
        br
        br
        br
        br
        br
      h4.pink.no-margin Benefits
      ol
        li.black Build lean muscle 
        li.black Keep burning calories 
        li.black Speed up metabolism
        li.black See results faster
        li.black Reverse effects of aging
//- promo
//- .promo-code
//-   p 10% off promo code automatically in your cart 
//- man product
section.bnpl-mobile.hide-from-tablet
  a.bnpl-callout(:href="barbellSetUrl")
    h1.no-margin Complete Barbell Set
    h4 By BootyBands
    br
    h4.strikethrough.no-margin.old-price $342.99
    h2.no-margin $327.98
    br
    h2.black Ships Free
    br
    br
    h5.black or 4 interest free payments of $82 with
    .with-price
      vue-image(:source="sezzle" :height="50" :disable-aspect-ratio="true")
      vue-image(:source="afterpay" :height="50" :disable-aspect-ratio="true")
    br
    a.button.full-width.green(
      :href="barbellSetUrl" 
      @click="(e) => e.target.classList.add('loading')"
    ) Shop Now
section.main-product
  .max-width
    .row.row-bp-s-up-half.gap.align-center
        div
          image-slider(:images="mainProductImages" background-color="#fff")
        div
          h4.no-margin What’s included:
          ul
            li 4 ft. Pure steel bar
            li 3 lb. Purple weight plates - Pair
            li 5 lb. Teal weight plates - Pair
            li 10 lb. Pink weight plates - Pair
            li Barbell clamps - Pair
            li Plate protectors (x6)
          p
            a.button.wider.green(
              :href="barbellSetUrl" 
              @click="(e) => e.target.classList.add('loading')"
            ) Add To Cart
//- advantages
section
  .max-width
    .advantages
      .advantages-header
        h2 The Advantages of #[span.underline Free Weights]
      .advantages-info
        .advantage(v-for="(advantage, index) in advantages")
          h2.number #[span #]{{ index + 1 }}
          h3.primary-font {{ advantage }}
        .advantage-main.max-width-s
          h3.primary-font Physical Therapist Approved 
          p “The biological and physiological benefits of this 4 foot bar are unlike anything out there. The 4 foot barbell design makes the weight more centered over our base in support of your shoulders, hips and knees. Thus you can have better control over the weight lessening accessory muscle use and the torque that can occur in the lower back.  
          p By having better control of the weight, we can more effectively isolate targeted muscle groups and move them through their full ranges of motion. Now as women this is so important, not only because it helps prevent injury but it also allows us to achieve the tight toned and sculpted bodies that we are striving for.”
//- wall of fame
section
  .wall-of-fame.max-width-s
    h2.wof-header The Booty Wall of Fame
    image-slider(:images="testimonialImages" background-color="#fff")
//- versus
section
  .versus.max-width
    h2.versus-header Complete Barbell Set#[br]vs.#[br]Other weight sets
    .row.row-bp-s-up-half.align-center.gap
      div
        iframe(
          src="https://player.vimeo.com/video/390837766?color=ef00c1&title=0&byline=0&portrait=0"
          width="640" height="360" 
          frameborder="0" 
          allow="autoplay; fullscreen; picture-in-picture" 
          allowfullscreen
          title="Complete barbell set explanation"
        )
      div
        p The Complete Barbell Set is easier to start with, less expensive, and takes up far less space than standard Olympic weights - Making them the ideal choice for home use. With an Olympic weight set the bar alone weighs 35-45 lb. and is 7 ft. long and that’s not including the plates.
        p With this weight set - the bar is only 4 ft. long and only weighs X lb. You decide how much weight to move, allowing you to cater your workout to meet your specific needs throughout a variety of different exercises.
        p The Complete Barbell Set is designed with women in mind - fitting to your shoulders for squats and to your hips for hip thrusts. It’s the right size to get you sculpted, tight and toned.
//- community
section
  .community.max-width
    h2.community-header Become Part of The #BOOTYBANDS Community
    .row.row-bp-s-up-half.align-center.gap.row-reverse
      .community-image
        vue-image(
          :source="communityImage" 
          :width="600" 
          :height="363" 
          alt="#bootybands community"
          background-color="#fff"
        )
      div
        h2.no-margin.featured-font-family.black Women Owned
        h2 Made in USA
        p We chose to be uncompromising in our beliefs when we started BootyBands & Barbell.  We sought to improve our local economies by manufacturing our products in the U.S. and provide jobs to those within our community.  Because of this, we have sacrificed profits for our business to be a part of the solution for the US economy. Each time you purchase, spread the word and use our products, you are supporting small businesses, jobs and US manufacturers! Thank you!
//- guarantee
section
  .max-width-xxs
    vue-image(
      :source="guarantee"
      :width="280" 
      :height="310"  
      alt="100% satisfaction guarantee"
      background-color="#fff"
    )
//- app
section
  .app-block
    .max-width-s
      .app-header 
        h2 Order Now
        h3 And you’ll also get exclusive access to
      .row.row-bp-s-up-half.align-center.gap
        .app-image
          vue-image(
            :source="appAd" 
            :width="344" 
            :height="740" 
            alt="#1 fitness app"
            background-color="#fff"
          )
        .app-info
          ul
            li
              h3.primary-font #1 Womens Fitness App
              p 14 day free trial to BootyBands & Barbell’s 5 star rated app with Workouts, guidance and expert advice from Danita Young.
            li
              h3.primary-font COMMUNITY & SUPPORT 
              p To help you through each step of your journey to ensure success!
//- order now
section
  .max-width-m.order-now-outer
    .order-now-wrapper.row.row-bp-s-up-half.align-center.gap
      a.payments(:href="barbellSetUrl")
        .inner
          h3 Order now for 4 interest free payments of
          h1.primary-font $82
          .ap-s
            vue-image(
              :source="afterpay" 
              :height="20"
              :width="100"
              :disable-aspect-ratio="true"
              background-color="#ff3399"
            )
            vue-image(
              :source="sezzle" 
              :height="26"
              :width="100"
              :disable-aspect-ratio="true"
              background-color="#ff3399"
            )
        .order-now
          h4 ORDER NOW
      a.one-payment(:href="barbellSetUrl")
        .inner
          h3 or a single payment of 
          h1.primary-font $327.98
          p Ships Free
        .order-now
          h4 ORDER NOW
    p.code Use code 10NY for 10% off today. (Code is pre-populated in your cart). Ships within 7-10 days.
//- bundle and save
section.bundle-save
  .max-width
    h2 BUNDLE & SAVE 20% 
    h2 The 70 lbs Booty Builder Bundle
    .bundle-save-products.row.row-third.align-center.gap
      .bs-product(v-for="product in bundleProducts")
        vue-image(
          :source="product.image"
          :alt="product.title"
          :width="600" 
          :height="600"
          background-color="#fff"
        )
    .max-width-s.bundle-save-products.row.row-bp-s-up-half.align-center.gap
      div 
        p(v-for="product in bundleProducts") {{ product.title }} - #[span.strikethrough {{ product.price }}]  #[strong ${{ product.discountPrice }}]
      div
        h3.strikethrough.no-margin.old-price.darker ${{ bundlePrices.price }}
        h1.no-margin.primary-font ${{ bundlePrices.discountPrice }}
        h2 Ships Free
        a.button.green(
          :href="bundleUrl" 
          @click="(e) => e.target.classList.add('loading')"
        ) Add Bundle To Cart
//- recommended products
section
  .max-width.recommended-products-wrapper
    h2.rp-header Recommended Products
    .recommended-products
      a.recommended-product(v-for="product in recommendedProducts" :href="product.link")
        vue-image(
          :source="product.image" 
          :width="300" 
          :height="300"
          :alt="product.title"
          background-color="#fff"
        )
        h5.title {{ product.title }}
        a.button.hover(:href="product.link") Shop Now
</template>

<script>
import afterpay from '@/assets/afterpay-logo.png'
import sezzle from '@/assets/sezzle-logo.png'
import barbellGirl from '@/assets/barbell-girl.jpg'
import testimonials from '@/assets/testimonials.jpg'
import testimonialOne from '@/assets/testimonial1.png'
import testimonialTwo from '@/assets/testimonial2.png'
import testimonialThree from '@/assets/testimonial3.png'
import testimonialFour from '@/assets/testimonial4.png'
import communityImage from '@/assets/community-image.jpg'
import setOne from '@/assets/set1.jpg'
import setTwo from '@/assets/set2.jpg'
import setThree from '@/assets/set3.jpg'
import setFour from '@/assets/set4.jpg'
import setFive from '@/assets/set5.jpg'
import guarantee from '@/assets/guarantee.png'
import bundle from '@/assets/bundle.jpg'
import dumbbells from '@/assets/dumbbells.jpg'
import bands from '@/assets/bands-l14.jpg'
import extraWeights from '@/assets/extra-weights.jpg'
import protein from '@/assets/protein.jpg'
import appAd from '@/assets/app-ad.png'
import videoPoster from '@/assets/video-poster.jpg'
import { setMeta } from '@/meta/setMeta'

export default {
  name: 'Barbell',
  data() {
    return {
      barbellSetUrl: 'https://bootybands.com/cart/add/39367045480550',
      bundleUrl: 'https://bootybands.com/cart/add/39367067664486',
      afterpay,
      sezzle,
      testimonials,
      communityImage,
      guarantee,
      barbellGirl,
      appAd,
      videoPoster,
      advantages: [
        'Build lean muscle for a tight and toned physique',
        'Keep burning calories long after your workout',
        'Scientifically proven to speed up metabolism',
        'See results faster in a shorter amount of time',
        'Reverse the effects of aging'
      ],
      mainProductImages: [
        {
          src: setOne,
          alt: 'Barbell Set One',
          width: 1200,
          height: 800
        },
        {
          src: setTwo,
          alt: 'Barbell Set Two',
          width: 1200,
          height: 800
        },
        {
          src: setThree,
          alt: 'Barbell Set Three',
          width: 1200,
          height: 800
        },
        {
          src: setFour,
          alt: 'Barbell Set Four',
          width: 1200,
          height: 800
        },
        {
          src: setFive,
          alt: 'Barbell Set Five',
          width: 1200,
          height: 800
        }
      ],
      testimonialImages: [
        {
          src: testimonials,
          alt: 'Booty wall of fame',
          width: 768,
          height: 768
        },
        {
          src: testimonialOne,
          alt: 'Wall Of Fame Testimonial 1',
          width: 768,
          height: 768
        },
        {
          src: testimonialTwo,
          alt: 'Wall Of Fame Testimonial 2',
          width: 768,
          height: 768
        },
        {
          src: testimonialThree,
          alt: 'Wall Of Fame Testimonial 3',
          width: 768,
          height: 768
        },
        {
          src: testimonialFour,
          alt: 'Wall Of Fame Testimonial 4',
          width: 768,
          height: 768
        }
      ],
      recommendedProducts: [
        {
          image: bundle,
          title: 'BARBELL + DUMBBELL + BANDS BUNDLE',
          link: 'https://www.bootybands.com/products/barbell-dumbbell-booty-band'
        },
        {
          image: dumbbells,
          title: 'DUMBBELLS',
          link: 'https://www.bootybands.com/products/booty-bands-dumbbells'
        },
        {
          image: bands,
          title: 'BOOTY BANDS LEVELS 1-4',
          link: 'https://www.bootybands.com/products/60-day-sculpt-your-curves-program-level-1-2-3-4-booty-bands'
        }
      ],
      bundleProducts: [
        {
          image: setOne,
          title: 'Barbell Basic',
          price: '342.99',
          discountPrice: '289.99',
          id: '31404332744806',
          url: ''
        },
        {
          image: extraWeights,
          title: '30 lbs. Extra Weights',
          price: '129.99',
          discountPrice: '99.99',
          id: '31409311580262',
          url: 'https://www.bootybands.com/products/30lb-set-of-black-weights'
        },
        {
          image: protein,
          title: 'Protein - Vanilla',
          price: '43.99',
          discountPrice: '37.99',
          id: '32207575482470',
          url: 'https://www.bootybands.com/products/protein'
        }
      ]
    }
  },
  computed: {
    bundlePrices() {
      let price = 0
      let discountPrice = 0

      this.bundleProducts.forEach((product) => {
        price += parseFloat(product.price)
        discountPrice += parseFloat(product.discountPrice)
      })

      return { price, discountPrice }
    },
  },
  beforeMount() {
    setMeta({
      name: 'Barbell',
      description: 'Experience Faster Results with the NEW Booty Bands® Barbell made just for Women! Using resistance improves lean muscle to get you in shape, toned &amp; sculpted! Finally, a Barbell made for Women that is the right length, the correct weight, and personal training guidance on how to Sculpt &amp; Shape everything on your body!',
      image: '/assets/barbell-girl.jpg'
    })
  },
  methods: {
    setMeta
  }
}
</script>

<style lang="scss" scoped>
.header, .promo-code {
  background: $pink;
  grid-gap: 0;

  * {
    color: $white;
  }
}

.old-price {
  color: $gray-x-dark !important;

  &.darker {
    color: $medium-pink !important;
  }
}

.header {
  position: relative;

  :deep(img), :deep(svg) {
    width: 100%; 
    height: 100%; 
    max-height: calc(100vh - 75px);
  }

  .header-image-wrapper {
    position: relative;
    height: 100%;

    :deep(.vue-image) {
      height: 100%;
    }
    
    :deep(.vue-image img) {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .header-image-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-flow: column;
      align-items: flx-start;
      justify-content: center;
      padding: 1.25em;

      @media(min-width: $bp-s) {
        padding: 4em;
      }

      * {
        text-shadow: 2px 2px 5px $white;
      }
    }
  }
}

.bnpl-callout {
  display: block;
  background: $white;
  padding: 0 1.25em;
  text-align: center;

  &, &:hover {
    text-decoration: none;
  }

  &.hide-to-tablet {
    display: none;
  }

  @media(min-width: $bp-s) {
    padding: 3em;
    margin-top: 3em;

    &.hide-to-tablet {
      display: inline-block;
    }
  }

  .with-price {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0.5em auto 0;
    max-width: 300px;

    * {
      line-height: 1rem;
    }
  }

  * {
    color: $pink;
    margin-bottom: 0;
  }

  :deep(.vue-image) {
    display: inline-block;
    width: 100px;
    padding: 0 0.5em;
    margin-top: 0.5em;
  }

  h2, h3 {
    display: inline-block;
  }
}

.promo-code {
  text-align: center;
  padding: 0.5em;
  
  * {
    margin: 0;
  }
}

.main-product {
  @media(max-width: $bp-s - 1) {
    text-align: center;

    ul {
      text-align: left;
    }

    .button {
      width: 100%;
    }
  }
}

.app-block {
  .app-header {
    text-align: center;
    margin: 0 auto;
    padding: 1.25rem;
    margin: 0;
    color: $white;
    margin: 0 auto;
    max-width: $bp-s;
    background: $light-blue;

    * {
      color: $white;
      margin: 0;
    }
  }

  @media(max-width: $bp-s - 1) {
    .row {
      grid-gap: 0;
    }

    .app-image {
      position: relative;
      padding-left: 2.5em;
  
      &:after {
        content: "";
        position: absolute;
        top: -2.25em;
        left: 19.5px;
        width: 2px;
        height: 105%;
        background: $light-blue;
        z-index: -1;
      }
    }
  }

  .app-info {
    position: relative;
  }

  ul {
    li {
      position: relative;
      color: $light-blue;
      list-style-type: none; 
      padding-left: 2em;
      margin-bottom: 1.25em;

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $light-blue;
        border-radius: 50%;
        top: 12px;
        left: -4.5px;
      }
    }

    h3 {
      color: $pink;
    }

    &:after {
      content: "";
      position: absolute;
      top: -2.25em;
      left: 19.5px;
      width: 2px;
      height: 105%;
      background: $light-blue;
      z-index: -1;

      @media(min-width: $bp-s) {
        top: calc(-100% - 3.5em);
        height: calc(200% + 3.5em);
      }

      @media(min-width: $bp-m) {
        top: calc(-50% - 3.5em);
        height: calc(150% + 3.5em);
      }
    }
  }
}

.order-now-wrapper {
  > a {
    display: flex;
    flex-flow: column;
    text-align: center;
    border: 1px solid $gray;
    text-decoration: none;
    height: 100%;

    &:hover {
      text-decoration: none;
    }

    &.payments {
      background: $pink;

      * {
        color: $white;

        :deep(.vue-image img) {
          filter: $white-filter;
          width: 100px;
        }
      }
    }

    &.one-payment * {
      color: $pink;
    }

    .inner {
      padding: 1.25em;
      flex-grow: 1;
    }

    .order-now {
      text-align: center;
      padding: 0.25em;
      background: $green !important;

      * {
        color: $white !important;
        margin: 0;
      }
    }
  }

  .ap-s {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      margin: 0 1em;
    }
  }
}

.order-now-outer .code {
  text-align: center;
  color: $pink;
  margin-top: 1.25em;
}

.wof-header, .versus-header, .community-header {
  text-align: center;
  color: $pink;
}

.community, .versus, .bundle-save, .main-product, .advantage-main {
  h1, h2, h3 {
    color: $pink;
  }
}

.community, .bundle-save {
  text-align: center;
}

.community-image {
  padding: 0.5em;
  border: 1px solid $pink;
}

.bundle-save {
  .bs-product {
    position: relative;

    &:not(:last-of-type) {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: -18px;
        width: 0.5rem;
        height: 2px;
        background: $gray-dark;
        transform: translate(-50%, -50%);
      }
  
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -12px;
        width: 2px;
        height: 0.5rem;
        background: $gray-dark;
        transform: translate(-50%, -50%);
      }

      @media(min-width: $bp-m) {
        &:before {
          width: 1rem;
          right: -35px;
        }

        &:after {
          height: 1rem;
          right: -21px;
        }
      }
    }
  }

  @media(max-width: $bp-s - 1) {
    .button {
      width: 100%;
    }
  }
}

.versus {
  iframe {
    width: 100%;
  }
}

.advantages {
  .advantages-header {
    text-align: center;
    margin: 0 auto;

    * {
      color: $white;
    }

    > * {
      margin: 0;
      color: $white;
      margin: 0 auto;
      width: calc(100% - 2em);
      max-width: $bp-s;
      background: $purple;
      padding: 1rem;
      box-shadow: $box-shadow;
    }
  }

  .advantages-info {
    display: flex;
    flex-wrap: wrap;
    box-shadow: $box-shadow;
    padding: 0.75em;

    .advantage {
      display: flex;
      align-items: center;
      padding: 1.25em;
      box-shadow: $box-shadow;
      border-radius: 7px;
      flex-grow: 1;
      margin: 0.75em;

      @media(min-width: $bp-s) {
        flex-basis: 30%;
      }

      * {
        margin-bottom: 0;
      }

      .number, .number * {
        color: $pink;
      }

      .number {
        margin-right: 1.25rem;
      }
    }

    .advantage-main {
      margin: 1.25em auto;
      padding: 0.75em;
      text-align: center;
    }
  }
}

.recommended-products-wrapper {
  text-align: center;

  .rp-header {
    color: $pink;
  }

  .recommended-products {
    display: grid;
    grid-gap: 2.5em;
    align-items: flex-end;

    a {
      text-decoration: none;
    }

    .recommended-product .title {
      margin: 1.25em 0;
    }

    @media(min-width: $bp-s) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.25em;

      .recommended-product {
        margin: 0 auto;
        max-width: 300px;
      }
    }
  }
}
</style>

