<template lang="pug">
.max-width.page
  h1.capitalizes 3 for 33%
  p Select 3 to get 33% off!
  loading(v-if="orderedProducts.length <= 0" key="1" page="collection")
  .collection(v-else key="2")
    .collection-product(
      v-for="product in orderedProducts"
      :key="product.id"
    )
      input(
        type="checkbox" 
        :id="product.id" 
        :value="product" 
        v-model="selectedProducts"
        :disabled="bundleReady && !selectedProducts.find(p => p.variants[0].id === product.variants[0].id)"
      )
      label(:for="product.id")
        product-list-item(:product="product")
  .bundle-atc
    .bundle-products(v-if="selectedProducts.length > 0")
      vue-image.product-image(
        v-for="product in selectedProducts"
        :source='product.images && product.images.length > 0 && product.images[0].src || ""'
        :disable-aspect-ratio="true"
        :width='800'
        :height='800'
      )
    button.atc(
      @click="addToCart()"
      :class="{ 'disabled': addingToCart || localAdding || !bundleReady, 'loading': addingToCart || localAdding }"
    ) 
      span(v-if="bundleReady") Add Bundle To Cart
      span(v-else) Select {{ 3 - selectedProducts.length }} Products
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Bundle',

  data: () => ({
    selectedProducts: [],
    localAdding: false,
  }),

  computed: {
    ...mapState('cart', [
      'cart',
      'addingToCart'
    ]),

    ...mapGetters('products', [
      'orderedProducts'
    ]),

    bundleReady() {
      return this.selectedProducts.length >= 3
    }
  },

   watch: {
    '$route': {
      immediate: true,
      async handler (to, from) {
        this.$store.commit('products/setAllProducts', [])
        if(this.$route.path.includes('bundle')) {
          this.$store.dispatch('products/fetchCollection', 'bundles')
        }
      }
    }
  },

  methods: {
    async addToCart () {
      this.localAdding = true
      await this.$store.dispatch('cart/addMultipleProducts', this.selectedProducts.map(prod => prod.variants[0].id))
      this.$store.commit('toggleSideCart')
      this.selectedProducts = []
      this.localAdding = false
    }
  }
}
</script>

<style lang="scss" scoped>
.bundle-atc {
  position: fixed;
  bottom: 1.25em;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 2.5em);
  max-width: calc(500px - 2.5em);
  background: rgba($white, 0.75);
  padding: 1.25em;

  button {
    width: 100%;
  }

  .bundle-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.75em;
    margin-bottom: 1.25em;

    .product-image:not(:last-of-type) {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: -1.875em;
        width: 0.5rem;
        height: 2px;
        background: $black;
        transform: translate(-50%, -50%);
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -1.5em;
        width: 2px;
        height: 0.5rem;
        background: $black;
        transform: translate(-50%, -50%);
      }
    }

    // :deep(.vue-image) {
    //   height: 100%;

    //   img, svg {
    //     width: auto;
    //     height: 100%;
    //   }
    // }
  }
}

.collection, :deep(.collection) {
  position: relative;
  display: grid;
  grid-gap: 1.25em;
  max-width: 100%;

  @media screen and (min-width: 20em) {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection-product {
    position: relative;

    label {
      font-size: 1em;
      margin: 0 !important;
    }
    
    input {
      display: none;

      &:disabled + label {
        pointer-events: none;
      }

      &:checked + label {
        padding: 1.25em;
        border: 3px solid $black;
        height: 100%;
      }
    }
  }
}
</style>
