<template lang="pug">
.products.max-width.page
  section
    h1.capitalize {{ collection.replace(/-/g, ' ') }}
    products-list
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import ProductsList from '@/components/ProductsList.vue'
import { setMeta } from '@/meta/setMeta'

export default {
  name: 'Products',
  components: {
    ProductsList
  },

  data() {
    return {
      collection: 'Store'
    }
  },

   watch: {
    '$route': {
      immediate: true,
      async handler (to, from) {
        this.$store.commit('products/setAllProducts', [])

        const collection = this.$route.path.replace(/\/collection\//g, '').replace(/\//g, '')
        if(this.$route.path.includes('collection')) {
          this.collection = collection
          this.$store.dispatch('products/fetchCollection', collection)
        } else {
          this.collection = 'Store'
          this.$store.dispatch('products/fetchProducts', { first: 250 })
        }

        const capitalizedCollection = collection.replace(/-/g, ' ').replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase())
        this.setMeta({
          name: capitalizedCollection
        })
      }
    }
  },

  methods: {
    setMeta
  }
}
</script>
