<template lang="pug">
.max-width.page
  .product-wrapper(v-if="Object.keys(product || {}).length > 0" :key="product.id")
    .product
      .left
        figure.zoomImg(
          @mousemove="zoom" 
          :style="{ background: `url(${product.images[0].src})` }"
        )
          vue-image.product-image(
            :source='product.images && product.images.length > 0 && product.images[0].src || ""'
            :width='800'
            :height='800'
          )
      .right
        h1.title {{ product.title }}
        .vendor-price
          h5.vendor {{ product.vendor }}
          .price
            .prices
              p.individual-price(v-if="itemQuantity > 1 && foundVariant") {{ itemQuantity }} @ {{ $filters.currency(foundVariant.price) }}
              h3(v-if="computedCompareAtPrice").original-price {{ $filters.currency(computedCompareAtPrice) }}
              h3.price {{ $filters.currency(computedPrice) }}
        .buy
          quantity-input(
            v-if="product.availableForSale"
            v-model.number="itemQuantity"
            v-bind:is-cart="false"
            :disabled="!product.availableForSale"
          )
          select(v-model="selectedVariant" v-if="computedVariants.length > 1" name="variant")
            option(value="" disabled) Select an Option
            option(v-for="option in computedVariants" :key="option.id" :value="option.id") {{ option.title }}
          button.atc(
            v-if="product.availableForSale"
            @click="addToCart()"
            v-bind:class="{ 'disabled': addingToCart || localAdding, 'loading': addingToCart || localAdding }"
          ) Add To Cart
          button.atc.disabled(
            v-else
          ) Unavailable
        product-meta
        .description
          h3 Description
          div(v-html="product.descriptionHtml")
        bundle(:current-parent="product" :current-parent-price="foundVariant.price" :current-parent-variant="selectedVariant")
    .additional-images(v-if="additionalImages.length > 0")
      vue-image.product-image(
        v-for="image in additionalImages"
        :key="image.src"
        :source="image.src"
        :width='800'
        :height='800'
      )
    product-features
    related-products(v-if="!prerender")
    .prev-next(v-if="previousProduct || nextProduct")
        .prev
          div(v-if="previousProduct" @click.prevent="goToProduct(previousProduct)")
            p Prev.
            a {{ previousProduct.title }}
        .next
          div(v-if="nextProduct" @click="goToProduct(nextProduct)")
            p Next
            a {{ nextProduct.title }}
  loading(page="product" :title="productTitle" v-else)
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { goToProduct, setMetaForProduct } from '@/helpers/goToProduct'
import Bundle from '@/components/Bundle.vue'
import ProductFeatures from '@/components/ProductFeatures.vue'
import ProductMeta from '@/components/ProductMeta.vue'
import RelatedProducts from '@/components/RelatedProducts.vue'

export default {
  name: 'Product',

  components: {
    Bundle,
    ProductFeatures,
    ProductMeta,
    RelatedProducts,

  },

  data: () => ({
    selectedVariant: '',
    itemQuantity: 1,
    productTitle: '',
    localAdding: false,
  }),

  computed: {
    ...mapState([
      'prerender'
    ]),

    ...mapState('cart', [
      'cart',
      'addingToCart'
    ]),

    ...mapState('products', [
      'product',
    ]),

    ...mapGetters('products', [
      'previousProduct',
      'nextProduct'
    ]),

    computedVariants () {
      return Object.prototype.hasOwnProperty.call(this.product || {}, 'variants') ? this.product.variants : []
    },

    foundVariant () {
      return this.computedVariants.find(variant => variant.id === this.selectedVariant) || []
    },

    computedCompareAtPrice () {
      return this.foundVariant ? this.foundVariant.compareAtPrice * this.itemQuantity : false
    },

    computedPrice () {
      return this.foundVariant ? this.foundVariant.price * this.itemQuantity : 0
    },

    additionalImages () {
      return [...this.product.images].slice(1)
    }
  },

  watch: {
    '$route': {
      immediate: true,
      async handler (to, from) {
        // set variant
        if (this.computedVariants.length > 0) {
          this.selectedVariant = this.computedVariants[0].id
        }

        // if direct route, fetch product data
        this.productTitle = this.$route.path.replace(/\/product\//g, '').replace(/\//g, '')
        if (
          Object.keys(this.product || {}).length <= 0
          || this.productTitle != this.product.handle
        ) {
          await this.$store.dispatch('products/fetchProductByHandle', this.productTitle)

          this.$nextTick(() => {
            if(this.computedVariants.length > 0) {
              this.selectedVariant = this.computedVariants[0].id
            }
          })
        }

        // set item quantity to one
        this.itemQuantity = 1

        // set metadata
        this.setMetaForProduct(this.product)

        // fetch metadata
        this.$store.commit('products/setCurrentProductMeta', {})
        this.$store.dispatch('products/fetchProductMeta', this.product.handle)
      }
    }
  },

  methods: {
    goToProduct,
    setMetaForProduct,

    async addToCart () {
      this.localAdding = true

      await this.$store.dispatch('cart/addProduct', [{
        variantId: this.selectedVariant,
        quantity: this.itemQuantity
      }])

      this.$store.commit('toggleSideCart')
      this.localAdding = false
    },

    zoom(e) {
      // hover zoom
      const zoomer = e.currentTarget
      const offsetX = e.offsetX ? e.offsetX : e.touches && e.touches[0] && e.touches[0].pageX
      const offsetY = e.offsetY ? e.offsetY : e.touches && e.touches[0] && e.touches[0].pageX
      const x = offsetX / zoomer.offsetWidth * 100
      const y = offsetY / zoomer.offsetHeight * 100
      zoomer.style.backgroundPosition = `${x}% ${y}%`
    }
  }
}
</script>

<style lang="scss" scoped>
.product-wrapper > .product, :deep(.loading-wrapper .product) {
  @media(min-width: $bp-s) {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-gap: 1.25em;
    margin-bottom: 1.25em;
  }

  @media(min-width: $bp-m) {
    grid-gap: 5em;
  }
}

// zoom styles
.zoomImg {
  position: relative;
  background-position: 50% 50%;
  background-size: 200%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  will-change: background-position;
  width: 100%;
  margin: 0;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-top: -9px;
    margin-left: -9px;
    // transform: translate(-50%,-50%) rotate(0deg);
    animation: spinner .6s infinite linear;
    border: 3px solid rgba($black, 0.25);
    border-top: 3px solid $black;
    border-radius: 50%;
    stroke: $white;
    z-index: -1;
  }

  :deep(img) {
    transition: opacity .5s;
    display: block;
    width: 100%;
    background: $white;

    &:hover {
      opacity: 0;
    }
  }
}

.left .product-image :deep(img),
.left .product-image :deep(svg)
  {
  display: block;
}

.right {
  padding: 1em 0;
  text-align: left;

  .title {
    margin: 0 0 0.5em 0;
    word-break: break-word;
  }

  .vendor-price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1em;

    .vendor {
      margin: 0 1em 0 0;
      font-weight: normal;
    }

    .price {
      position: relative;
      text-align: right;

      .individual-price {
        font-size: 0.8em;
        position: absolute;
        margin-bottom: 0;
        top: -1.25em;
        right: 0;
      }

      .prices {
        display: flex;

        * {
          margin-bottom: 0;
          white-space: nowrap;
        }

        .original-price {
          color: $black;
          position: relative;
          margin-right: 0.25em;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            right: 0;
            border-top: 2px solid;
            border-color: inherit;
          }
        }

        .original-price + .price {
          color: $red;
        }
      }
    }
  }

  .buy {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .quantity-input + .atc {
      flex-grow: 1;
      margin-left: 1.25rem;
    }

    .quantity-input ~ select ~ .atc {
      margin-left: 0;
    }

    select, button {
      flex-basis: 50%;
      flex-grow: 1;
    }

    select {
      margin-left: 1.25em;
      margin-bottom: 1.25em;
    }

    button {
      margin: 0;
    }
  }
}

.description {
  margin: 1em 0 1.25em;
  overflow-y: scroll;
}

.additional-images .product-image {
  margin-bottom: 1.25em;
}

.prev-next {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1.25em 0 0;

  > div {
    flex-basis: 47%;

    &:last-of-type {
      text-align: right;
    }

    p {
      font-size: 0.8em;
      margin: 0;
    }

    a {
      font-weight: bold;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
</style>
