<template lang="pug">
.products.max-width.page
  .row.row-bp-xs-up-half
    h1.capitalize Search
    p.search-input
      label(for="search") Search
      input(id="search" type="search" v-model="searchQuery" placeholder="Enter a search term, like 'rtx'")
  p(v-if="searchQuery !== ''") Results for '{{ searchQuery }}'
  .recommended-terms-wrapper(v-if="searchQuery === ''")
    h5 Recommended terms:
    .recommended-terms
      a.featured(v-for="term in recommendedTerms" @click="setSearchQuery(term)") {{ term }}
  products-list(v-if="searchQuery !== ''")
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import ProductsList from '@/components/ProductsList.vue'

export default {
  name: 'Search',
  components: {
    ProductsList
  },

  data() {
    return {
      searchQuery: '',
      timeout: 0,
      recommendedTerms: [
        // @TODO add
      ]
    }
  },

  computed: {
    ...mapState('products', [
      'searchProducts'
    ])
  },

   watch: {
    '$route': {
      immediate: true,
      async handler (to, from) {
        if(this.$route.path.includes('search')) {
          this.$store.commit('products/setAllProducts', [])
          const search = this.$route.path.replace(/search/g, '').replace(/\//g, '')
          this.searchQuery = search

          if(this.searchQuery !== '') {
            this.$store.dispatch('products/fetchSearchProducts', this.searchQuery)
          }
        }
      }
    },

    searchQuery() {
      clearTimeout(this.timeout)
      if(this.searchQuery !== '' && this.$route.path.includes('search')) {
        this.timeout = setTimeout(() => {
          this.$router.push(`/search/${this.searchQuery}`)
        }, 500)
      }
    }
  },

  mounted() {
    this.$nextTick(() => {
      if(this.searchQuery === '') {
        document.getElementById('search').focus()
      }
    })
  },

  methods: {
    setSearchQuery(term) {
      this.$store.commit('products/setAllProducts', [])
      this.searchQuery = term
    }
  }
}
</script>

<style lang="scss" scoped>
.search-input {
  @media(min-width: $bp-s) {
    text-align: right;
  }
}

.recommended-terms-wrapper {
  .recommended-terms {
    display: flex;
    flex-wrap: wrap;

    a {
      margin-right: 1em;
      margin-bottom: 0.5em;
    }
  }
}
</style>