<template lang="pug">
.bundle(v-if='bundleProduct.title && !bundleProductInCart && currentParent.title')
  .bundle-images
    vue-image.bundle-image(
      :source='currentParent.images && currentParent.images.length > 0 && currentParent.images[0].src || ""'
      :width='800'
      :height='800'
    )
    a(@click="goToProductFromVariant()")
      vue-image.bundle-image(
        :source='computedImage'
        :width='800'
        :height='800'
      )
  .bundle-info
    .bundle-text
      h5.bundle-title.capitalize
        .secondary-font(@click="goToProductFromVariant()")
          | Get edgy! Bundle your {{ currentParent.title }} with an
          | #[a(@click="goToProductFromVariant()") {{ bundleProduct.title }}]
          //- span(v-if='selectedVariant.title')&nbsp;({{ selectedVariant.title }})&nbsp;
          | for {{ $filters.currency(computedBundlePrice) }}
    .bundle-modify
      select(v-model='selectedVariant' v-if='bundleProduct.variants && bundleProduct.variants.length > 1')
        option(
          v-for='(variant, i) in bundleProduct.variants'
          :key='variant.id'
          :value='variant'
          :disabled="!variant.available"
        ) {{ variant.title }}
      button(@click='addToCart' v-bind:class="{ 'disabled': addingToCart || localAdding, 'loading': addingToCart && localAdding }") Add Both To Cart
</template>

<script>
import { mapState } from 'vuex'
import { goToProduct } from '@/helpers/goToProduct'

export default {
  data () {
    return {
      localAdding: false,
      bundleProductInCart: true,
      selectedVariant: false
    }
  },

  props: {
    currentParent: {
      type: Object,
      default: {}
    },
    currentParentPrice: {
      default: ''
    },
    currentParentVariant: {
      type: String,
      default: ''
    }
  },

  computed: {
    ...mapState('products', [
      'bundleProduct'
    ]),

    ...mapState('cart', [
      'cart',
      'addingToCart'
    ]),

    ...mapState('products', [
      'product'
    ]),

    computedImage () {
      if (
        this.selectedVariant &&
        this.selectedVariant.image &&
        !this.selectedVariant.image.src
      ) {
        return this.selectedVariant.image.src
      }

      return this.bundleProduct &&
      this.bundleProduct.images &&
      this.bundleProduct.images.length > 0 &&
      this.bundleProduct.images[0].src
    },

    computedBundlePrice () {
      return parseFloat(this.selectedVariant && this.selectedVariant.price || 0) + parseFloat(this.currentParentPrice || 0)
    }
  },

  watch: {
    cart () {
      this.checkBundleInCart()
    }
  },

  async mounted () {
    await this.$store.dispatch('products/fetchBundleProduct')

    if (
      this.bundleProduct 
      && this.bundleProduct 
      && this.bundleProduct.variants.length > 0
    ) {
      this.bundleProduct.variants.forEach((variant) => {
        if (variant.available && !this.selectedVariant) {
          this.selectedVariant = variant
        }
      })
    }

    this.checkBundleInCart()

    // Shut it down if no variants available
    // or is bundle product
    if (
      !this.selectedVariant
      || this.selectedVariant.id == this.currentParentVariant
    ) {
      this.bundleProductInCart = true
    }
  },

  methods: {
    goToProduct,

    goToProductFromVariant (item) {
      this.goToProduct(this.bundleProduct, true)
    },

    checkBundleInCart () {
      let inCart = false

      if (this.cart && this.cart.lineItems && this.cart.lineItems.length > 0) {
        this.cart.lineItems.forEach((item) => {
          if (
            this.bundleProduct.id === item.id ||
            this.bundleProduct.id === item.variant.id
          ) {
            inCart = true

            return
          }

          if (this.bundleProduct && this.bundleProduct.variants) {
            this.bundleProduct.variants.forEach((variant) => {
              if (
                item.id === variant.id ||
                item.variant.id === variant.id
              ) {
                inCart = true
              }
            })
          }
        })
      }

      this.bundleProductInCart = inCart
      this.localAdding = false
    },

    async addToCart () {
      this.localAdding = true
      await this.$store.dispatch('cart/addMultipleProducts', [this.selectedVariant.id, this.currentParentVariant])
      this.$store.commit('toggleSideCart')
      this.localAdding = false
    }
  }
}
</script>

<style lang="scss" scoped>
.bundle {
  width: 100%;
  border: 1px solid $gray !important;
  padding: 1.25em;
  margin: 1.25em 0;
  text-align: left;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .bundle-images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.75em;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.5rem;
      height: 2px;
      background: $black;
      transform: translate(-50%, -50%);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 0.5rem;
      background: $black;
      transform: translate(-50%, -50%);
    }
  }

  .bundle-info {
    flex-basis: 37%;
    flex-grow: 1;
    padding: 1.25em 0 0;

    .bundle-title {
      margin: 0 0 1.25em;

      a {
        line-height: 1;
      }
    }
  }

  .bundle-modify {
    display: flex;

    select, button {
      padding: 7px 20px !important;
      font-size: 0.75em !important;
      width: auto;
    }

    select {
      background-position: calc(100% - 15px) calc(1em + -1px), calc(100% - 10px) calc(1em + -1px), calc(100% - 2.5em) 0.5em;
      padding-right: 30px !important;
      margin-right: 1em;
    }
  }
}
</style>
