<template lang="pug">
div
  loading(v-if='!cart.lineItems' page="cart")
  .cart-content(v-else)
    .products
      .product(
        v-for='(item, index) in cart.lineItems' :key='item.id'
      )
        .product-image(@click="goToProductFromCart(item, true)")
          vue-image.product-image(
            :source='item.variant.image && item.variant.image.src || product.images.length > 0 && product.images[0].src || ""'
            :width='800'
            :height='800'
          )
        .product-info
          h5.title(@click="goToProductFromCart(item, true)") {{ item.title }}
          p.variant(v-if='item.variant.title !== "Default Title"') {{ item.variant.title }}
          .discounts(v-if="item.discountAllocations.length > 0")
            h6.discount-text(
              v-for='(discount, j) in item.discountAllocations'
              :key='j'
            ) {{ discount.discountApplication.title }}
          p.remove
            a(
              href='#'
              @click.prevent="removeProduct(item.id)"
              :class="{ 'removing': productRemovingId === item.id }"
            ) {{ productRemovingId === item.id ? 'Removing' : 'Remove' }}
        .product-quantity
          .product-total(:class="{ 'has-discount': item.discountAllocations.length > 0 }")
            p.at-price(v-if="item.quantity > 1") {{ item.quantity }} @ {{ $filters.currency(item.variant.price) }}
            p.price(:class="{ 'original-price': item.discountAllocations.length > 0 }")
              strong {{ $filters.currency(item.variant.price * item.quantity) }}
            p.price(
              v-if='item.discountAllocations.length > 0'
            ) 
              strong {{ $filters.currency((item.variant.price * item.quantity) - item.discountAllocations[0].allocatedAmount.amount) }}
          quantity-input(
            v-model="item.quantity"
            v-bind:is-cart="true"
            v-bind:loading="productUpdatingId === item.id"
            @update:modelValue='updateQuantity($event, item.id)'
          )
      upsell
    .cart-is-empty(v-if="cart.lineItems.length === 0")
      h3 Nothing in your cart
      button(@click="viewProducts()") View Store
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { goToProduct, goToProductFromCart } from '@/helpers/goToProduct'
import upsell from './Upsell.vue'

export default {
  name: 'CartComponent',

  components: {
    upsell
  },

  data: () => ({
    timeout: 0,
    productUpdatingId: -1,
    productRemovingId: -1
  }),

  computed: {
    ...mapState('cart', [
      'cart'
    ]),

    ...mapGetters('cart', [
      'cartSize'
    ]),

    ...mapState('products', [
      'product',
      'products'
    ]),

    ...mapState([
      'showSideCart'
    ])
  },

  methods: {
    goToProduct,
    goToProductFromCart,

    async updateQuantity (event, sentId) {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(async () => {
        this.productUpdatingId = sentId

        await this.$store.dispatch('cart/updateProduct', {
          quantity: event,
          id: sentId
        })

        this.productUpdatingId = -1
      }, 250)
    },

    async removeProduct (sentId) {
      this.productRemovingId = sentId
      await this.$store.dispatch('cart/removeProduct', sentId)
      this.productRemovingId = -1
    },

    viewProducts () {
      const path = '/store'
      if (this.$route.path !== path) this.$router.push(path)
      if (this.showSideCart) this.$store.commit('toggleSideCart')
    }
  }
}
</script>

<style lang="scss" scoped>
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;

  .product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $gray;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25em;
    text-align: left;

    .product-image {
      flex-basis: 25%;
      cursor: pointer;
    }

    .product-info {
      flex-basis: 37%;
      flex-grow: 1;
      padding: 0 1em;

      .title {
        font-weight: bold;
        margin: 0;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .product-variant {
        margin: 0 0 0.75rem;
      }

      .product-variant {
        color: $gray-dark;
      }

      .discount-text {
        padding: 2px 5px;
        font-size: .75em;
        background: $gray;
        display: inline-block;
        border-radius: 5px;
        margin: 1em 0 0;
        color: $black;
        text-align: center;
      }

      .variant {
        margin: 0;
        font-size: 0.85em;
      }

      .remove {
        font-size: 0.8em;
        margin: 1em 0 0.25em;
        text-transform: capitalize;

        a {
          padding: 0 !important;
        }
      }
    }

    .product-quantity {
      display: flex;
      flex-flow: column-reverse;
      align-items: flex-end;
      flex-basis: 20%;
      height: 100%;
      justify-content: space-between;

      input {
        max-width: 50px;
        margin: 0 auto;
      }

      p {
        white-space: nowrap;
        margin: 0 auto;
        text-align: center;
        font-size: 1.25em;
      }
    }

    .product-total {
      position: relative;

      &.has-discount {
        text-align: right;
      }

      p {
        font-size: 1.25em;
        text-align: right;

        &, * {
          line-height: 1;
        }

        &.at-price {
          font-size: 0.75em;
          white-space: nowrap;
          position: absolute;
          top: -1.25em;
          right: 0;
        }
      }

      .original-price {
        color: $black;
        position: relative;
        display: inline-block;
        font-size: 1.1em;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          right: 0;
          border-top: 1px solid;
          border-color: inherit;
        }
      }

      .original-price + .price {
        color: $red;
        display: block;
        margin-left: 0.25em;
      }
    }
  }

  > .product:last-of-type {
    border-bottom: 0 !important;
    margin-bottom: 0;
  }
}

.cart-is-empty {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4em;

  .button {
    margin-top: 1em;
    border: 1px solid $primary-color;
  }
}
</style>
