<template lang='pug'>
a.cart-icon(@click="openCart()" :class="{ 'on-cart': $router.currentRoute.value.path.includes('cart') }")
  span.emoji 🛒&nbsp;
  span {{ cartSize }}
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'CartIcon',

  computed: {
    ...mapState('cart', [
      'cartId',
      'cart'
    ]),

    ...mapGetters('cart', [
      'cartSize'
    ])
  },

  beforeMount () {
    // see if we have cartId stored (Lives outside of Vuex Persist)
    const cartId = localStorage.getItem('cartId')

    if (cartId) {
      this.$store.commit('cart/setCartId', cartId)
    }

    this.$nextTick(() => {
      if (this.cartId !== '') {
        this.$store.dispatch('cart/fetchCart')
      } else {
        this.$store.dispatch('cart/createCart')
      }
    })
  },

  methods: {
    openCart () {
      if (!this.$router.currentRoute.value.path.includes('cart')) {
        this.$store.commit('toggleSideCart')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.cart-icon {
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1em;
  margin-top: 0.5em;

  .emoji {
    // font-size: 1.25em;
    display: inline-block;
  }

  &.on-cart:after {
    visibility: visible !important;
  }
}
</style>
