<template lang="pug">
.discount-code(:class="{ 'is-cart': isCart }" v-if="cartDiscounts.length === 0 && cartSize > 0")
  input(
    autocomplete="off"
    type="text"
    name="discount"
    placeholder="Discount code"
    v-model="discountCode"
    @keydown.enter.stop.prevent="applyDiscountCode"
  )
  p.discount-code-button(@click="applyDiscountCode" v-show="showApplyCode") {{ applyingDiscount ? 'Applying' : 'Apply' }}
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  props: {
    isCart: {
      type    : Boolean,
      default : false,
    },
  },

  data() {
    return {
      applyingDiscount: false,
      discountCode: '',
    }
  },

  computed: {
    ...mapState('cart', [
      'cart'
    ]),

    ...mapGetters('cart', [
      'cartSize',
      'cartDiscounts'
    ]),

    showApplyCode() {
      return this.discountCode != ''
    }
  },

  methods: {
    async applyDiscountCode() {
      this.applyingDiscount = true
      await this.$store.dispatch('cart/applyDiscount', this.discountCode)
      this.applyingDiscount = false
      this.discountCode = ''
    }
  },
}
</script>

<style lang="scss" scoped>
.discount-code {
  position: relative;
  margin: 1em 1em 0;

  &.is-cart {
    margin: 1em 0 0;
  }

  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    color: $primary-color;
    margin: 0;
    cursor: pointer;

    &:hover {
      color: $gray;
    }
  }

  .applied {
    color: $black;
  }
}
</style>
