<template lang="pug">
.estimate-shipping
  h4.summary Estimate Shipping
  form.form(@submit.prevent="estimateShipping")
    .row.row-bp-xs-up-half.align-center.gap
      .required
        label(for="first") First Name
        input(
          v-model="address.firstName" 
          placeholder="First Name" 
          :disabled="estimatingShipping" 
          required
        )
      .required
        label(for="last") Last Name
        input(
          id="last"
          v-model="address.lastName" 
          placeholder="Last Name" 
          :disabled="estimatingShipping" 
          required
        )
    .row
      label(for="address") Address
      input(
        id="address"
        v-model="address.address1" 
        placeholder="Address" 
        :disabled="estimatingShipping" 
        required
      )
    .row.row-bp-xs-up-half.align-center.gap
      .required
        label(for="city") City
        input(
          id="city"
          v-model="address.city" 
          placeholder="City" 
          :disabled="estimatingShipping" 
          required
        )
      .required
        label(for="state") State
        input(
          id="state"
          v-model="address.province" 
          placeholder="State" 
          :disabled="estimatingShipping" 
          required
        )
      .required
        label(for="zip") Zip
        input(
          id="zip"
          v-model="address.zip" 
          placeholder="Zip Code" 
          :disabled="estimatingShipping" 
          required
        )
      div
        label(for="phone") Phone
        input(
          id="phone"
          v-model="address.phone" 
          placeholder="Phone" 
          :disabled="estimatingShipping"
        )
    .row
      button.secondary(
        type="submit"
        :disabled="cartSize === 0"
        :class="{ 'loading': estimatingShipping, 'disabled': cartSize === 0 }"
      ) #[span(v-if="estimatedShipping.length > 0") Re-]Estimate
  .rates-wrapper(v-if="estimatedShipping.length > 0")
    h5 Rates
    .radio(v-for="(rate, i) in estimatedShipping")
      input(
        type="radio" 
        name="radio" 
        :id="`rate-${i}`" 
        v-model="selectedShippingRate" 
        :value="rate"
      )
      label.rate(:for="`rate-${i}`")
        span {{ rate.title }}
        strong {{ $filters.currency(rate.price) }}
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  data() {
    return {
      address: {
        address1: '',
        address2: '',
        city: '',
        country: 'United States',
        firstName: '',
        lastName: '',
        province: '',
        zip: '',
        phone: '',
      }
    }
  },

  computed: {
    ...mapState('cart', [
      'cart',
      'estimatedShipping',
      'estimatingShipping',
      'selectedShippingRate'
    ]),

    ...mapGetters('cart', [
      'cartSize',
    ]),

    selectedShippingRate: {
      set(selectedShippingRate) {
        this.$store.commit('cart/setSelectedShippingRate', selectedShippingRate)
      },
      get() {
        return this.$store.state.cart.selectedShippingRate
      }
    },
  },

  watch: {
    async cart(before, after) {
      if(this.cart.shippingAddress) {
        this.address = {
          address1: this.cart.shippingAddress.address1,
          address2: this.cart.shippingAddress.address2,
          city: this.cart.shippingAddress.city,
          country: this.cart.shippingAddress.country,
          firstName: this.cart.shippingAddress.firstName,
          lastName: this.cart.shippingAddress.lastName,
          province: this.cart.shippingAddress.province,
          zip: this.cart.shippingAddress.zip,
          phone: this.cart.shippingAddress.phone,
        }

        if(
          after.lineItems.length > 0
          && (before.subtotalPrice !== after.subtotalPrice
          || Object.keys(this.estimatedShipping).length <= 0)
        ) {
          await this.$store.dispatch('cart/estimateShipping')
          this.$store.commit('cart/setSelectedShippingRate', [])
        }
      }
    },

    estimatedShipping() {
      if(
        this.estimatedShipping.length > 0
        && Object.keys(this.selectedShippingRate).length === 0
      ) {
        this.$store.commit('cart/setSelectedShippingRate', this.estimatedShipping[0])
      }
    }
  },

  methods: {
    async estimateShipping() {
      if(this.cartSize > 0) {
        await this.$store.dispatch('cart/addAddressInfoAndEstimateShipping', this.address)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.estimate-shipping {
  border-top: none;
  margin-bottom: 1.25em;
  background: $gray-light;
  padding: 1.25em;

  @media(min-width: $bp-m) {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .rates-wrapper {
    margin-top: 1em;

    .rate {
      margin-top: 0.75em;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .form {
    .row:not(:last-of-type) {
      margin-bottom: 1.25em;
    }
  }
}
</style>