<template>
  <div class="links">
    <router-link
      v-for="link in FeaturedLinks" 
      :key="link.handle" 
      :to="link.handle"
    >
      <vue-image :source="link.image" />
      <h2 class="link-title">{{ link.title }}</h2>
    </router-link>
  </div>
</template>

<script>
import gpus from "@/assets/gpus.jpg"
import katana from "@/assets/katana.png"
// import neckbeard from "@/assets/neckbeard.jpg"

export default {
  data() {
    return {
      FeaturedLinks: [
        {
          image: katana,
          title: 'Apparel',
          handle: '/collection/apparel'
        },
        {
          image: gpus,
          title: 'Graphics Cards',
          handle: '/collection/graphics-cards'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.links {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr;

  @media(min-width: $bp-s) {
    grid-template-columns: 1fr 1fr;
  }

  a {
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 33vw;
    position: relative;

    :deep(.vue-image) {
      padding: 0 !important;
      height: 40vw !important;
      max-height: 400px;
      min-height: 200px;

      img, svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
      }
    }

    .link-title {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 1.25rem;
      color: $white;
      text-shadow: $box-shadow;
      font-size: 3em;
    }
  }
}
</style>