<template lang="pug">
.max-width
  footer
    p © {{ currentYear }} {{ storeName }}
    router-link(class="featured" to="/style-guide") Style Guide
</template>

<script>
import baseMeta from '@/meta/baseMeta'

export default {
  data () {
    return {
      currentYear: new Date().getFullYear(),
      storeName: baseMeta().title
    }
  },
}
</script>

<style lang="scss" scoped>
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25em 0 0;
  margin-top: 1em;
  border-top: 1px solid $gray;
  text-align: center;
  font-size: 0.8em;
  position: relative;

  p {
    color: $gray-x-dark;
    margin-bottom: 0;
  }
}
</style>