<template lang="pug">
.gift-card-wrapper(v-if="cartSize > 0 && cart.appliedGiftCards.length <= 0")
  h4 Gift Card
  .gift-card
    input(
      autocomplete="off"
      type="text"
      name="giftcard"
      placeholder="Enter a gift card code"
      v-model="giftCardCode"
      @keydown.enter.stop.prevent="applyGiftCard"
    )
    p.gift-card-button(@click="applyGiftCard" v-show="showApplyCode") {{ applyingGiftCard ? 'Applying' : 'Apply' }}
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  data() {
    return {
      applyingGiftCard: false,
      giftCardCode: '',
    }
  },

  computed: {
    ...mapState('cart', [
      'cart',
    ]),

    ...mapGetters('cart', [
      'cartSize',
    ]),

    showApplyCode() {
      return this.giftCardCode != ''
    }
  },

  methods: {
    async applyGiftCard() {
      this.applyingGiftCard = true
      await this.$store.dispatch('cart/applyGiftCard', this.giftCardCode)
      this.applyingGiftCard = false
      this.giftCardCode = ''
    }
  },
}
</script>

<style lang="scss" scoped>
.gift-card-wrapper {
  margin: 1.25em 0;
  padding: 1.25em;
  background: $gray-light;

  .gift-card {
    position: relative;

    .gift-card-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;
      color: $primary-color;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: $gray;
      }
    }

    .applied {
      color: $black;
    }
  }
}
</style>
