<template>
  <div class="promo-code">
    <p>10% off promo code automatically in your cart</p>
  </div>
  <nav id="nav">
    <div class="max-width">
      <div class="mobile-menu" @click="toggleMobileNav()">
        <div class="hamburger"><div class="lines"></div></div>
        <p>Menu</p>
      </div>
      <a href="https://www.bootybands.com/" class="logo"><img width="64" height="64" alt="Booty Bands" src="../assets/logo.png"></a>
      <div class="overlay" @click="closeMobileNav()" :class="{ 'show': mobileNavOpen }"></div>
      <div class="links" :class="{ 'drawer-wrapper left-drawer open': mobileNavOpen }">
        <img width="50" height="50" alt="Booty Bands" src="../assets/logo.png" v-show="mobileNavOpen">
        <div class="hamburger open" @click="closeMobileNav()" :class="{ 'show': mobileNavOpen }"><div class="lines"></div></div>
        <a class="featured" href="https://www.bootybands.com/pages/shop-all-new">SHOP ALL</a>
        <a class="featured" href="#">BARBELL</a>
        <a class="featured" href="https://www.bootybands.com/products/booty-bands-dumbbells">DUMBBELLS</a>
        <a class="featured" href="https://www.bootybands.com/products/protein">PROTEIN</a>
        <a class="featured" href="https://www.bootybands.com/products/60-day-sculpt-your-curves-program-level-1-2-3-4-booty-bands">BANDS</a>
      </div>
      <div class="icons">
        <a href="/search" aria-label="Search"><img width="16" height="16" alt="Search Icon" src="../assets/search.svg"></a>
        <a href="/cart" aria-label="Cart"><img width="16" height="16" alt="Cart Icon" src="../assets/bag.svg"></a>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex'
import CartIcon from '@/components/CartIcon.vue'
import SideCart from '@/components/SideCart.vue'

export default {
  components: {
    CartIcon,
    SideCart
  },

  computed: {
    ...mapState([
      'showSideCart'
    ])
  },

  data: () => ({
    mobileNavOpen: false
  }),

  mounted() {
    window.addEventListener('resize', () => {
      if (window.innerWidth >= 768) {
        this.closeMobileNav()
      }
    })
  },

  methods: {
    closeMobileNav() {
      this.mobileNavOpen = false
    },

    toggleMobileNav() {
      this.mobileNavOpen = !this.mobileNavOpen
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/_variables.scss';

.promo-code {
  background: $pink;
  grid-gap: 0;
  text-align: center;
  padding: 0.5em;
  
  * {
    color: $white;
    margin: 0;
  }
}

$logo-width: 4em;
#nav {
  .mobile-menu {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media(min-width: $bp-s) {
      display: none;
    }

    .hamburger {
      margin-right: 1em;
    }

    p {
      margin-top: 0.25em;
    }
  }
  
  > div {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto $logo-width auto;
    padding: 0.75em 1.25em;
    position: relative;
    z-index: 1;

    @media(min-width: $bp-s) {
      justify-content: center;
      grid-template-columns: $logo-width 5fr $logo-width;
    }

    .logo {
      img {
        max-width: math.div($logo-width, 1.5);
        height: auto;
        display: block;
      }

      @media(min-width: $bp-s) {
        margin-top: 0;

        img {
          max-width: $logo-width;
        }
      }
    }

    @media(min-width: $bp-m) {
      grid-template-columns: $logo-width 8fr 1fr;
    }

    .overlay {
      display: none;

      &.show {
        display: block;
      }
    }

    .links {
      display: none;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: -0.1em;

      @media(min-width: $bp-s) {
        display: flex;

        .hamburger {
          display: none;
        }
      }

      &.open {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: column;
        padding: 2em 1.25em 2em 0.5em;
        max-width: 300px;

        > a {
          margin-top: 1.25em;

          &:first-of-type {
            margin-top: 3.5em;
          }
        }

        img {
          position: absolute;
          left: 1.5em;
        }
      }

      .hamburger {
        margin-right: 0;
        margin-left: auto;
      }

      > a {
        margin: 0 1em;
        padding: 0.5em 0;
        color: $black;
        transition: color 0.1s;

        &:after {
          visibility: hidden;
          transition: none;
        }

        &.router-link-exact-active, &:hover {
          color: $primary-color;

          &:after {
            visibility: visible;
          }
        }
      }

      .discount {
        margin: 0 0.5em;
        width: 100%;
        text-align: center;
        color: $white;
      }
    }
    
    .icons {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      a {
        img {
          display: block;
          width: 16px;
          margin-left: 1em;
        }
      }
    }
  }
}
</style>