<template>
  <div class="max-width text-center">
    <h1 class="hero mega">Booty Bands</h1>
    <!-- <div class="image-wrapper">
      <vue-image :width="300" :height="296" :source="image" background-color="#fff" />
    </div> -->
    <!-- <h1>{{ baseMeta.title }}</h1> -->
    <p>{{ baseMeta.description }}</p>
    <!-- <router-link class="button" to="/store">Go To Store</router-link> -->
    <!-- <p>Edit <code>components/HelloWorld.vue</code> to test hot module replacement.</p>
    <button @click="count++">count is: {{ count }}</button> -->
  </div>
</template>

<script>
import image from "../assets/logo.png"
import baseMeta from '@/meta/baseMeta'

export default {
  name: 'HelloWorld',

  props: {
    msg: String
  },

  data() {
    return {
      count: 0,
      image,
      baseMeta: baseMeta()
    }
  }
}
</script>

<style lang="scss" scoped>
.image-wrapper {
  max-width: 500px;
  margin: 2em auto;
}

.text-center {
  max-width: 700px;
}

.mega {
  display: block;
  margin: 1.25rem auto 2rem auto;

  @media(min-width: $bp-s) {
    margin: 3rem auto;
  }
}
</style>
