<template lang="pug">
div
  loading(v-if="filteredProducts.length <= 0" key="1")
  .collection.all-products(v-else key="2")
    .collection-product(
      @click="goToProduct(product)"
      v-for="product in filteredProducts"
      :key="product.id"
    )
      product-list-item(:product="product")
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { goToProduct } from '@/helpers/goToProduct'

export default {
  name: 'productsList',

  computed: {
    ...mapState('products', [
      'upsellHandle',
      'bundleHandle'
    ]),

    ...mapGetters('products', [
      'orderedProducts'
    ]),

    filteredProducts () {
      return this.orderedProducts

      // return this.orderedProducts.filter((product) => {
      //   return product.handle !== this.upsellHandle
      //   && product.handle !== this.bundleHandle
      // })
    }
  },

  methods: {
    goToProduct
  }
}
</script>

<style lang="scss">
// not scoped to share with loading
.collection {
  position: relative;
  display: grid;
  grid-gap: 1.25em;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 50em) {
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>
