<template lang="pug">
.product(v-if="product.title")
  vue-image.product-image(
    :source='product.images.length > 0 && product.images[0].src || ""'
    :width='800'
    :height='800'
  )
  h5.vendor {{ product.vendor }}
  h4.title {{ product.title }}
  .prices
    p(v-if="product.variants[0].compareAtPrice").original-price {{ $filters.currency(product.variants[0].compareAtPrice) }}
    p.price {{ $filters.currency(product.variants[0].price) }}
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: {}
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  cursor: pointer;
  text-align: left;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }

  .product-image {
    margin-bottom: 0.5em;
  }

  .title, .price, .vendor {
    margin: 0;
  }

  .vendor {
    margin: 0.5em 0 0.25em;
  }

  .title {
    margin-bottom: 0.25em;
    word-break: break-word;
  }

  .prices {
    display: flex;

    * {
      margin: 0;
    }

    .original-price {
      color: $black;
      position: relative;
      margin-right: 0.25em;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: inherit;
      }
    }

    .original-price + .price {
      color: $red;
    }
  }
}
</style>