<template lang="pug">
.product-meta(v-if="Object.prototype.hasOwnProperty(productMeta, 'tags') && productMeta.tags.length > 0")
  h5.meta-header Tags:
  router-link.tag.capitalize(v-for="tag in productMeta.tags" :to="`/search/${tag.value}`") {{ tag.value }}
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('products', [
      'product',
      'productMeta'
    ]),
  }
}
</script>

<style lang="scss" scoped>
.product-meta {
  margin: 1.25em 0;
}

.meta-header {
  display: inline-block;
  margin: 0 0.5em 0 0;
}

.tag {
  display: inline-block;
  margin: 0 0.5em 0 0;
}
</style>