<template lang="pug">
section(v-if="show")
  .row.row-bp-s-up-half.align-top.gap(:class="{ 'row-reverse': reverse }")
    div
      div(v-if="productData")
        h2 {{ productData.title }}
        h4 {{ $filters.currency(selectedVariant.price) }}
        .modify
          select(v-model='selectedVariant' v-if='productData.variants && productData.variants.length > 1')
            option(
              v-for='(variant, i) in productData.variants'
              :key='variant.id'
              :value='variant'
              :disabled="!variant.available"
            ) {{ variant.title }}
          a.button(
            name='buyNow' 
            @click="buyNow()" 
            :class="{ 'loading': goingToCheckout }"
          ) Buy Now
        p(v-html="productData.descriptionHtml")
    div
      vue-image(
        v-if="computedImage.src"
        :source="computedImage.src" 
        :alt="selectedVariant.alt"
      )
      .additional-images(v-if="additionalImages.length > 1")
        vue-image(
          v-for="image in additionalImages"
          :source="getSizedImage(image.src, '200x')" 
          :alt="image.alt"
          @click="selectImage(image)"
        )
</template>

<script>
import { mapState } from 'vuex'
import getSizedImage from '@/helpers/getSizedImage'

export default {
  name: 'ProductSection',
  props: {
    reverse: {
      type    : Boolean,
      default : false,
    },
    productHandle: {
      type    : String,
      default : '',
    }
  },

  data() {
    return {
      show: true,
      productData: false,
      selectedVariant: false,
      goingToCheckout: false,
      selectedImage: false
    }
  },

  computed: {
    ...mapState('cart', [
      'cart',
      'cartId'
    ]),

    computedImage () {
      if(this.selectedImage) {
        return this.selectedImage
      }

      if (
        this.selectedVariant &&
        this.selectedVariant.image &&
        !this.selectedVariant.image.src
      ) {
        return {
          src: this.getSizedImage(this.selectedVariant.image.src || '', '700x'),
          alt: this.selectedVariant.image.altText
        }
      }

      if(
        this.productData &&
        this.productData.images &&
        this.productData.images.length > 0 &&
        this.productData.images[0].src
      ) {
        return {
          src: this.getSizedImage(this.productData.images[0].src || '', '700x'),
          alt: this.productData.images[0].altText
        }
      }

      return {}
    },

    additionalImages () {
      var images = []
      if (
        this.selectedVariant &&
        this.selectedVariant.image &&
        !this.selectedVariant.image.src
      ) {
        images.push({
          src: this.selectedVariant.image.src,
          alt: this.selectedVariant.image.altText
        })
      }

      if(
        this.productData &&
        this.productData.images &&
        this.productData.images.length > 0
      ) {
        this.productData.images.forEach(image => {
          images.push({
          src: image.src,
          alt: image.altText
        })
        })
      }

      return images
    },
  },

  async mounted() {
    if(this.productHandle !== '') {
      this.productData = JSON.parse(JSON.stringify(await this.$store.state.client.product.fetchByHandle(this.productHandle)))

      if(!this.productData) {
        this.show = false
      } else {
        if (this.productData && this.productData.variants.length > 0) {
          this.productData.variants.forEach((variant) => {
            if (variant.available && !this.selectedVariant) {
              this.selectedVariant = variant
            }
          })
        }
      }
    }
  },

  methods: {
    getSizedImage,

    selectImage(sentImage) {
      this.selectedImage = {
        src: this.getSizedImage(sentImage.src, '700x'),
        alt: sentImage.alt
      }
    },

    async buyNow() {
      this.goingToCheckout = true
      await this.$store.state.client.checkout.addLineItems(this.cartId, [{
        variantId: this.productData.variants[0].id,
        quantity: 1
      }])

      window.location = this.cart.webUrl
    }
  }
}
</script>

<style lang="scss" scoped>
@media(max-width: $bp-s) {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column-reverse;
    grid-gap: 0;

    > div:last-of-type {
      margin-bottom: 1.25em;
    }
  }
}

.modify {
  display: flex;
  margin-bottom: 1.25em;

  .button {
    width: 100%;
  }

  select + .button {
    width: auto;
  }

  select, .button {
    padding: 7px 20px !important;
    font-size: 1em !important;
    font-weight: bold;
  }

  select {
    background-position: calc(100% - 15px) calc(1em + -1px), calc(100% - 10px) calc(1em + -1px), calc(100% - 2.5em) 0.5em;
    padding-right: 30px !important;
    margin-right: 1em;
    width: auto;
  }
}

.additional-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.25em;
  margin-top: 1.25em;

  @media(min-width: $bp-xs) and (max-width: $bp-m - 1) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: $bp-m) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  > div {
    cursor: pointer;
  }
}
</style>