<template lang="pug">
.product-features
  h3.features-header The Guarantee
  ol
    li.feature #[span 🙏&nbsp;] The Edgiest Swag in the Game
    li.feature #[span 💁‍♂️&nbsp;] 24/7 Customer Support
    li.feature #[span 💯&nbsp;] 100% Satisfaction Guarantee
</template>

<style lang="scss" scoped>
.product-features {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;

  ol {
    list-style: none;
    margin-bottom: 0;

    li {
      margin-left: 0;
      font-style: italic;

      span {
        font-size: 2em;
        font-style: normal;
        vertical-align: middle;
        margin-right: 1rem;
      }
    }
  }

  .features-header {
    margin-bottom: 0;
  }
}
</style>