<template lang="pug">
.related-products-wrapper(v-if="relatedProducts.length > 0")
  h2.header Related Products
  .related-products
    .related-product(
      v-for="(product, i) in relatedProducts"
      @click="goToProduct(product)"
      :key="i"
    )
      product-list-item(:product="product")
</template>

<script>
import { mapGetters } from 'vuex'
import { goToProduct } from '@/helpers/goToProduct'

export default {
  name: 'related-products',
  components: {
  },
  computed: {
    ...mapGetters('products', [
      'relatedProducts'
    ])
  },
  methods: {
    goToProduct
  }
}
</script>

<style lang="scss" scoped>
.related-products-wrapper {
  margin: 5em 0;

  .related-products {
    display: grid;
    grid-gap: 1.25em;
    grid-template-columns: 1fr;
    cursor: pointer;
    margin-top: 1em;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 50em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .header {
    margin-bottom: 0.25em;
    text-align: center;
  }
}
</style>
