<template lang="pug">
.subtotal-checkout(:class="{ 'cart-page-subtotal-checkout' : isCart }" v-if="!cart.lineItems || cartSize > 0")
  .title-subtotal
    h3.summary(v-if="isCart") Order Summary
    .subtotal
      span.subtotal-text Subtotal
      strong.subtotal-price 
        | &nbsp;
        span(v-if="cart.lineItemsSubtotalPrice && cart.lineItems") {{ $filters.currency(cart.lineItemsSubtotalPrice.amount) }}
    .subtotal.discount(v-if="!isCart && !selectedShippingRate.price")
      span.go-to-cart 
        router-link.featured(to="/cart" @click="$store.commit('toggleSideCart')") 
          | Estimate Shipping, 
          span(v-if="cartDiscounts.length === 0") Add Discount, 
          | Apply Gift Card
    div(v-if="cart.lineItems")
      .subtotal.discount(v-for="discount in cartDiscounts")
        span.subtotal-text Discount
        strong.subtotal-price.discount-code(@click="removeDiscountCode()")
          .hamburger.open(:class="{ 'loading': removingDiscount }" v-if="discount.code") #[.lines]
          | {{ discount.code || discount.title }}
      .subtotal.discount(v-for="giftCard in cart.appliedGiftCards")
        span.subtotal-text Gift Card ({{ giftCard.lastCharacters }})
        strong.subtotal-price.discount-code(@click="removeGiftCard(giftCard)")
          .hamburger.open(:class="{ 'loading': removingGiftCard }") #[.lines]
          | -{{ $filters.currency(giftCard.amountUsedV2.amount) }}
      .subtotal.discount(v-if="cart.totalTaxV2.amount > 0")
        span.subtotal-text Tax
        strong.subtotal-price {{ $filters.currency(cart.totalTaxV2.amount) }}
      .subtotal.discount(v-if="selectedShippingRate.price")
        span.subtotal-text {{ selectedShippingRate.title }} Shipping
        strong.subtotal-price {{ $filters.currency(selectedShippingRate.price) }}
      .subtotal.actual-subtotal(v-if="cart.lineItems && (cartDiscounts.length > 0 || selectedShippingRate.price || cart.totalTaxV2.amount > 0)")
        .subtotal-textcart
          span.total Total
          span.before-tax
            span w/
            span(v-if="cartDiscounts.length > 0") &nbsp;Discount
              span(v-if="selectedShippingRate.price && cartDiscounts.length > 0 && cart.totalTaxV2.amount > 0") ,
              span(v-else-if="cart.totalTaxV2.amount > 0 || selectedShippingRate.price") &nbsp;&
            span(v-if="cart.totalTaxV2.amount > 0") &nbsp;Tax
              span(v-if="selectedShippingRate.price") &nbsp;&
          span.with-shipping
            span(v-if="selectedShippingRate.price") &nbsp;Shipping
        strong.subtotal-price {{ $filters.currency(computedCartPrice) }}
    discount-code(v-if="isCart && cart.lineItems" :is-cart="isCart")
    a.button(
      :href="cart.webUrl" 
      name='checkout' 
      @click="goToCheckout($event)" 
      :disabled="cartSize === 0"
      :class="{ 'loading': goingToCheckout, 'disabled': cartSize === 0 }"
    ) Checkout
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import discountCode from './DiscountCode.vue'
import goToCheckout from '../helpers/goToCheckout.js'

export default {
  props: {
    isCart: {
      type: Boolean,
      default: false
    }
  },

  components: {
    discountCode
  },

  data () {
    return {
      goingToCheckout: false,
      removingDiscount: false,
      removingGiftCard: false
    }
  },

  computed: {
    ...mapState('cart', [
      'cart',
      'selectedShippingRate'
    ]),

    ...mapGetters('cart', [
      'cartSize',
      'cartDiscounts'
    ]),

    computedCartPrice() {
      return parseFloat(this.cart.paymentDue || 0) + parseFloat(this.selectedShippingRate && this.selectedShippingRate.price || 0)
    }
  },

  methods: {
    goToCheckout,

    async removeDiscountCode() {
      this.removingDiscount = true
      await this.$store.dispatch('cart/removeDiscount')
      this.removingDiscount = false
    },

    async removeGiftCard(sentGiftCard) {
      this.removingGiftCard = true
      await this.$store.dispatch('cart/removeGiftCard', sentGiftCard.id)
      this.removingGiftCard = false
    }
  }
}
</script>

<style lang="scss">
.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  .empty {
    a {
      text-align: center;
    }
  }

  .subtotal-price {
    font-size: 1.25em;
  }
}

.discount {
  > span, > strong {
    margin-top: 1.25rem;
    font-size: 0.8em !important;
  }

  .hamburger {
    display: inline-block;
    font-size: 0.5em;
    margin: 0;
    width: 11px;
    height: 5px;
    vertical-align: middle;
    margin-right: 0.5em;

    .lines {
      top: 0;

      &:before, &:after {
        background-color: $gray-dark !important;
      }
    }
  }

  .discount-code {
    margin: 0;
    padding: 2px 5px;
    border-radius: 5px;
    background: $gray;
    cursor: pointer;
  }
}

.total {
  display: block;
}

.with-shipping, .before-tax {
  display: inline-block;
  font-size: 0.75em;
}

.actual-subtotal {
  margin-top: 0.75rem;
  font-size: 1em !important;

  strong {
    font-size: 1.65em !important;
  }
}

.subtotal-checkout {
  border-top: 1px solid $gray;

  .title-subtotal {
    padding: 1.25em;

    .summary {
      margin-top: 0;
    }
  }

  .button {
    margin: 1em 0 0;
    width: 100%;
    text-align: center;
  }

  //override ReCharge styles because we have AJAX cart
  //and vue handles the logic for showing/hiding these
  //this is only for when you have a recharge product in cart,
  //remove it, and don't reload the page
  form[action^="/cart"] [type="submit"] {
    visibility: visible;
  }
}

.go-to-cart {
  margin-top: 0.5em !important;
}

// Specific to cart page
.cart-page-subtotal-checkout {
  border-top: none;
  margin-bottom: 1.25em;

  @media(min-width: $bp-s) {
    padding-left: 0.75em;
  }

  @media(min-width: $bp-m) {
    width: 100%;
    max-width: 425px;
    margin-right: 0;
    margin-left: auto;
  }

  .title-subtotal {
    background: $gray-light;
  }

  button {
    margin: 1em 0 0;
    width: 100%;
  }
}
</style>
