<template>
  <Header />
  <!-- <router-view :key="$route.path" /> -->
  <!-- <Footer /> -->
  <Barbell />
</template>

<script>
import Header from './components/Header.vue'
import Barbell from './views/Barbell.vue'
// import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    Header,
    Barbell
    // Footer
  },
  beforeMount () {
    // @NOTE REMOVE IF UNCOMMENT CART ICON IN HEADER
    this.$store.dispatch('cart/createCart')

    // Prevent safari loading from cache when back button is clicked
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload() 
      }
    };

    // wait a few seconds to allow fetching all the data
    // before emitting the prerender hook
    setTimeout(() => {
      document.dispatchEvent(new Event('x-app-rendered'))
    }, 2000)
  }
}
</script>

<style lang="scss">
@import './styles/_variables.scss';
@import './styles/_fonts.scss';
@import './styles/_grid.scss';
@import './styles/_elements.scss';
@import './styles/_helpers.scss';
@import "./styles/_drawer.scss";
@import "./styles/_hamburger.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-display: optional;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
